body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.calculator {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.display {
  background-color: #222;
  color: #fff;
  font-size: 2em;
  padding: 20px;
  text-align: right;
  height: 40px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
}

.button {
  background-color: #f0f0f0;
  border: none;
  padding: 20px;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #ddd;
}

.AC {
  grid-column: span 2;   
}

.zero {
  grid-column: span 2; 
}

.sign {
  background-color: #4caf50;
  color: #fff;
}

.equal:hover {
  background-color: #45a049;
}